<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Attendance_Scanning.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <userSettings>
        <Attendance_Scanning.Properties.Settings>
            <setting name="EmailFormatTitle" serializeAs="String">
                <value/>
            </setting>
            <setting name="EmailFormatMain" serializeAs="String">
                <value/>
            </setting>
            <setting name="EmailAddress" serializeAs="String">
                <value/>
            </setting>
            <setting name="TeacherPasswordencrypted" serializeAs="String">
                <value>nnnn</value>
            </setting>
            <setting name="EmailPosswordEncrypted" serializeAs="String">
                <value/>
            </setting>
            <setting name="TeacherName" serializeAs="String">
                <value/>
            </setting>
            <setting name="ClassCode" serializeAs="String">
                <value/>
            </setting>
        </Attendance_Scanning.Properties.Settings>
    </userSettings>
</configuration>
